<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.socialuniversityapp">

    <application
        android:name=".AmplifyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SocialUniversityApp">
        <activity
            android:name=".NavagationActivity"
            android:exported="false"
            android:label="@string/title_activity_navagation"
            android:theme="@style/Theme.SocialUniversityApp.NoActionBar" />
        <activity
            android:name=".NavigationDrawerActivity"
            android:exported="false" />
        <activity android:name=".ui.MaterialActivity" />
        <activity android:name=".ui.JobActivity" />
        <activity android:name=".ui.UniversityPostActivity" />
        <activity android:name=".ui.MajorPostActivity" />
        <activity
            android:name=".ui.VerificationActivity"
            android:exported="false" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.SignUpActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>